.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f8f3;
    color: #554f4f;
    padding: 20px 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: bolder;
    opacity: 0.7;
  }
  span{
    color: green;
  }
  
  .left-content,
  .right-content {
    flex: 1;
  }
  .right-content{
    text-align: right;
  }
  
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
  
    .left-content,
    .right-content {
      margin-bottom: 10px;
    }
  }
  